<mat-sidenav-container>
  <mat-sidenav #start [mode]="'side'" opened="true"
               [fixedInViewport]="'false'" [fixedTopGap]="'false'" [fixedBottomGap]="'false'">

    <mat-toolbar color="primary">
    </mat-toolbar>

    <mat-vertical-stepper>
      <mat-step *ngFor="let page of pages;let i = index;">
        <ng-container [ngTemplateOutlet]="page.pageOutlook.content"></ng-container>
      </mat-step>
    </mat-vertical-stepper>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      ngx-auth-firebaseui - npm install
    </mat-toolbar>
    <div class="demo-sidenav-content main-container">

      <mat-tab-group [selectedIndex]="index" style="height: 80vh;">
        <button mat-fab color="warn" (click)="previous()">
          <mat-icon>location</mat-icon>
        </button>
        <mat-tab *ngFor="let page of pages;let i = index;">
          <ng-container [ngTemplateOutlet]="page.pageContent.content"></ng-container>
        </mat-tab>
        <mat-tab style="background: blue; margin: 2rem;">
          <mat-card style="background: red; margin: 5rem; height: 1300px">
            <mat-card-title>
              Title1
            </mat-card-title>
            <mat-card-content>
              <h2>test</h2>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>


      <div fxLayoutAlign="space-between" style="margin: 1rem">
        <button mat-fab color="primary" (click)="previous()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

      <!--<button mat-button (click)="start.toggle(undefined, 'mouse')">Toggle Start Side Sidenav</button>-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
