::ng-deep .mat-tab-label-container {
  display: none !important;
}

.navigation-buttons {
  margin: 1rem;
  place-content: stretch space-between;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}
