<div class="jumbotron jumbotron-fluid black text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <video *ngIf="true" autoplay loop alt="@angular-material-extensions/pages demo in iphone" class="logo">
          <source
            src="https://firebasestorage.googleapis.com/v0/b/@angular-material-extensions/pages.appspot.com/o/tutorials%2Fdemo_iphone.mp4?alt=media&token=0d204cbc-bc10-4d8c-9744-321cb8d5df5b"
            type="video/mp4">
        </video>
        <!--<img src="assets/logo.svg" alt="@angular-material-extensions/pages logo" class="logo">-->
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>@angular-material-extensions/pages</h1>
        <p>Open source library for angular apps to illustrate custom material pages content with steps (ideal for
          tutorials and explanation purposes)</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg" href="https://github.com/angular-material-extensions/pages"
             target="_blank"><i class="fa fa-github fa-lg"></i> Code on Github</a>
          <a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i
            class="fa fa-book fa-lg"></i> Documentation</a>
        </p>
      </div>
    </div>

  </div>
</div>

<section class="home">
  <div class="container">
    <!-- put your content here-->
    <mat-pages title="@angular-material-extensions/pages"
               (pageChanged)="pnPageChanges($event)"
               (done)="onLastPageReached()">
      <mat-page-loader>
        <mat-page-outlook title="Outlook Title 1">
          Outlook Content 1
        </mat-page-outlook>
        <mat-page-content>
          <mat-tab-group>
            <mat-tab label="test">
              <mat-card>
                <mat-card-title>Example 1</mat-card-title>
                <mat-card-content style="height: 100px"></mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="test">
              <mat-card>
                <mat-card-title>Example 2</mat-card-title>
                <mat-card-content style="height: 100px"></mat-card-content>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </mat-page-content>
      </mat-page-loader>
      <mat-page-loader>
        <mat-page-outlook title="Outlook Title 2">
          Outlook Content 2
        </mat-page-outlook>
        <mat-page-content>
          Page Content 2
        </mat-page-content>
      </mat-page-loader>
      <mat-page-loader>
        <mat-page-outlook title="Outlook Title 3">
          Outlook Content 3
        </mat-page-outlook>
        <mat-page-content>
          Page Content 3
        </mat-page-content>
      </mat-page-loader>
    </mat-pages>

    <div style="margin-top: 2rem">
      <disqus [identifier]="'60cvuJoZ4qMr'"></disqus>
    </div>
  </div>
</section>
