@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-footer {
    .docs-footer {
      background: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }

    .docs-footer-links a {
      color: mat-color($primary, default-contrast);
    }
  }
}
